KINDE_CLIENT_ID=<your_client_id_here>
KINDE_CLIENT_SECRET=<your_client_secret_here>
KINDE_ISSUER_URL=https://touriapp.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/chat

GOOGLE_VERTEX_API_KEY=<your_vertex_api_key_here>
GOOGLE_VERTEXAI_TRIVIA_DATASTORE=<your_trivia_datastore_here>
GOOGLE_VERTEXAI_SITE_CRAWL_DATASTORE=<your_site_crawl_datastore_here>
GOOGLE_CLOUD_PROJECT_ID=<your_project_id_here>
GOOGLE_CLOUD_LOCATION=global
GOOGLE_MAPS_API_KEY=<your_maps_api_key_here>

# Ephmeral Token
EPHMERAL_TOKEN_SECRET=<ephemeral_token_secret_here>
EPHMERAL_TOKEN_EXPIRATION=3600 # 1 hour (in seconds)

NEXT_PUBLIC_MAPS_API_KEY=<your_maps_api_key_here>
NEXT_PUBLIC_MAPS_ID=<your_maps_id_here>

# Firestore MongoDB connection compat string
DATABASE_URI=<your_database_uri_here>