KINDE_CLIENT_ID=<your_client_id>
KINDE_CLIENT_SECRET=<your_client_secret>
KINDE_ISSUER_URL=https://touriapp.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard

#Prisma
DATABASE_URL=<your-mongodb-connection-string>

# All Public API Key variables is used to use deprecated services like (TouriChatService)
NEXT_PUBLIC_GOOGLE_API_KEY=<your-google-api-key>
NEXT_PUBLIC_MAPS_API_KEY=<your-google-maps-api-key>

GOOGLE_GENAI_API_KEY=<your-gemini-api-key>
GOOGLE_MAPS_API_KEY=<your-google-maps-api-key>
NEXT_PUBLIC_GEMINI_API_KEY=<your-gemini-api-key># Still used due to TouriLiveService (I'll migrate to ephmeral token)
